/qltraigaSourceCode/nbproject/private/
/qltraigaSourceCode/qltraigaSourceCode-war/nbproject/private/
/qltraigaSourceCode/qltraigaSourceCode-ejb/nbproject/private/
/qltraigaSourceCode/qltraigaSourceCode-ejb/build/
/qltraigaSourceCode/qltraigaSourceCode-ejb/dist/
/qltraigaSourceCode/qltraigaSourceCode-war/build/
/qltraigaSourceCode/build/
/qltraigaSourceCode/qltraigaSourceCode-war/dist/
/qltraigaSourceCode(demo)/nbproject/private/
/qltraigaSourceCode(demo)/qltraigaSourceCode-ejb/nbproject/private/
/qltraigaSourceCode(demo)/qltraigaSourceCode-war/nbproject/private/